body {
  font-family: "Impact", sans-serif;;
  color: blue;
  background-color: limegreen;
  text-align: center;
}

.colby_cooper{
  max-width: 960px;
  width: 100%;
  height: auto;
}

.common{
  width: content;
  height: content;
  border: solid;
  border-width: 12px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.about_me{
  font-family: "palatino", serif;
  color: gold;
  background-color: purple;
  border-color: gold;
  text-align: center;
}

.questions{
  list-style-position:outside;
  list-style: armenian;
  font-family: "palatino", serif;
  color: silver;
  background-color: navy;
  border-color: silver;
  text-align: left;
}

.top_ten{
  list-style: armenian;;
  list-style-position:outside;
  font-family: "palatino", serif;
  color: gold;
  background-color: green;
  border-color: gold;
  text-align: left;
}
