body {
  font-family: "Impact", sans-serif;;
  color: blue;
  background-color: limegreen;
  text-align: center;
}


.monkey{
  width: 850px;
  height: 250px;
  font-family: "palatino", serif;
  color: gold;
  background-color: purple;
  border: solid;
  border-color: gold;
  border-width: 12px;
  padding: 10px;
  text-align: center;
  margin: 5px;
  display: inline-block;
}

.banana{
  width: 550px;
  height: 260px;
  list-style-position:outside;
  list-style: armenian;
  font-family: "palatino", serif;
  color: silver;
  background-color: navy;
  border: solid;
  border-color: silver;
  border-width: 12px;
  padding: 10px;
  text-align: left;
  margin: 5px;
  display: inline-block;
}

.gorilla{
  width: 300px;
  height: 260px;
  list-style: armenian;;
  list-style-position:outside;
  font-family: "palatino", serif;
  color: gold;
  background-color: green;
  border: solid;
  border-color: gold;
  border-width: 12px;
  padding: 10px;
  text-align: left;
  margin: 5px;
  display: inline-block;
}
