body {
  font-family: "Impact", sans-serif;;
  color: #69BE28;
  background-color: #002244;
  text-align: center;
}

.colby_cooper{
  max-width: 900px;
  width: 100%;
  border-radius: 50px;
}

.common{
  list-style: armenian;
  font-family: "palatino", serif;
  width: content;
  height: content;
  border: solid;
  border-width: 12px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 50px;
}

.about_me{
  max-width: 815px;
  color: #b7a57a;
  background-color: #4b2e83;
  border-color: #85754d;
  text-align: center;
}

.questions{
  color: #003166;
  background-color: #1C8B85;
  border-color: #C0C0C0;
  text-align: left;
}

.top_ten{
  color: #ffffff;
  background-color: #00653a;
  border-color: #ffc220;
  text-align: left;
}

#title{
  padding-top: 5px;
}

#top-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 7px solid #69BE28;
  padding: 15px;
  border-radius: 50px;
  background-color: #C0C0C0;
}
